canvas {
  margin-top: 3rem;
}

body {
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: rgb(9, 9, 121);
  background: -moz-linear-gradient(356deg, rgba(9, 9, 121, 1) 1%, rgba(149, 149, 224, 1) 100%);
  background: -webkit-linear-gradient(356deg, rgba(9, 9, 121, 1) 1%, rgba(149, 149, 224, 1) 100%);
  background: linear-gradient(356deg, rgba(9, 9, 121, 1) 1%, rgba(149, 149, 224, 1) 100%);
}

p, .gameTitle {
color: AliceBlue;
}
